<tool name="DateAndTime">	<version>1.5.0</version>	<date>2018-02-19</date>	<main>DateAndTime</main>    <container>#._DateAndTime</container>	<files>	</files>	<needs>		<script>APLTreeUtils</script>		<script>FilesAndDirs</script>		<script>OS</script>		<script>Tester</script>	</needs>	<scriptOnly>1</scriptOnly>	<lx></lx>	<wsid>Development</wsid>	<autoload>1</autoload></tool>